<div id="wrapper">
  <div id="page-content-wrapper">
    <nav id="contextual-navbar" class="navbar navbar-default navbar-fixed-top container-fluid" role="navigation">
        <div id="context-nav-el" class="navbar-left"></div>
        <%= button_to "Logout", session_url, {method: "delete", class: "btn btn-danger navbar-btn navbar-right" } %>
        <p class="navbar-text navbar-right"><%= current_user.email %></p>
        <!-- <p class="navbar-text navbar-right"><%# current_user.id %></p> -->
    </nav>

    <div id="main">
    </div>
  </div>

<div id="sidebar-wrapper">
  <div id="sidebar-items">
    <div id="side-add-new-post" class="sidebar-items"><a href="#/posts/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></div>
    <div id="side-see-all-posts" class="sidebar-items"><a href="#"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a></div>
    <div id="side-see-the-map" class="sidebar-items"><a href="#/map"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></a></div>
    <div id="side-see-the-calendar" class="sidebar-items"><a href="#/calendar"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></div>
  </div>
</div>

</div>
<script type="text/javascript">
  StrickLife.currentUser = {
    id: "<%= current_user.id %>",
    email: "<%= current_user.email %>"
  }
</script>
