<div class=".container">

    <div id="sidenav" class=".col-md-3">
      <a href="#/posts/new">New Post</a>
      <a href="#">HelloWorld</a>
    </div>

    <div id="main" class=".col-md-9">

    </div>

</div>
