<div class=".container">

    <div id="sidenav" class=".col-md-3">
      <div id="side-add-new-post"><a href="#/posts/new">New Post</a></div>
      <div id="side-see-all-posts"><a href="#">HelloWorld</a></div>
    </div>

    <div id="main" class=".col-md-9">
    </div>

</div>
