<div id="sidebar-wrapper">
  <div id="side-add-new-post"><a href="#/posts/new">New Post</a></div>
  <div id="side-see-all-posts"><a href="#">HelloWorld</a></div>
</div>

<div id="page-content-wrapper" class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
      <p class="navbar-text"><%= current_user.email %></p>
      <p class="navbar-text"><%= current_user.id %></p>
      <%= button_to "Logout", session_url, {method: "delete", class: "btn btn-danger navbar-btn" } %>
    </nav>

    <div id="main">
    </div>
</div>
