<div class="container-fluid">

    <div id="sidenav">
      <div id="side-add-new-post"><a href="#/posts/new">New Post</a></div>
      <div id="side-see-all-posts"><a href="#">HelloWorld</a></div>
    </div>

    <div id="main">
    </div>

</div>
