<div id="session-splash" class="splash-container container-fluid">
  <div id="welcome-text">Welcome to StrickLife</div>
  <div class="form-container container">
    <form id="new-user-form" action="<%= session_url %>" method="post" class="form-group">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label for="user_email">Email:</label>
      <input
        id= "user_email"
        class="form-control"
        type="text"
        name="user[email]"
        value="<%= @user.email %>">

      <label for="user_password">Password:</label>
      <input
        id= "user_password"
        class="form-control"
        type="password"
        name="user[password]">

    </form>
      <div class="btn-group" role="group">
        <button id="submit-form" type="button"class="btn btn-primary">Sign In</button>
        <button id="guest-btn" type="button" class="btn btn-primary">Guest Login</button>
        <a href="/users/new" id="signup-btn" type="button" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
</div>
<script type="text/javascript">
  var form = document.getElementById("new-user-form");
  $("#guest-btn").on("click", function() {
    var email = "amazingperson@loveandhugs.com"
    var password = "guestpassword123"
    $("#user_email").val(email)
    $("#user_password").val(password)
    form.submit();
  });
  $("#submit-form").on("click", function(){
    form.submit();
  });
  $("#signup-btn").on("click", function(){
    window.location("/users/new")
  });

</script>
