<div id="session-splash" class="splash-container container-fluid">
  <div id="welcome-text">Welcome to StrickLife</div>
  <div class="form-container container">
    <form id="new-user-form" action="<%= session_url %>" method="post" class="form-group">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label for="user_email">Email:</label>
      <input
        id= "user_email"
        class="form-control"
        type="text"
        name="user[email]"
        value="<%= @user.email %>">

      <label for="user_password">Password:</label>
      <input
        id= "user_password"
        class="form-control"
        type="password"
        name="user[password]">

      <input type="Submit" value="Sign In" class="btn btn-primary">
    </form>
      <%= button_to "Sign Up", new_user_url, class: 'btn btn-primary' %>
      <button id="guest-btn" class="btn btn-primary">Guest Login</button>
    </div>
</div>

<script type="text/javascript">
  $("#guest-btn").on("click", function() {
    var email = "amazingperson@loveandhugs.com"
    var password = "guestpassword123"
    for(var i = 0; i <= email.length; i++) {
      var partial = email.slice(0, i);
      var num = 20 * i;
      window.setTimeout(function(){
        $("#user_email").val(partial)
      }, num)
    }
    $("#user_password").val(password)
  })
</script>
