<a
  class="navbar-text"
  href="javascript:void(0)"
  type="button"
  id="picture-selection-icon"
  ><span class="glyphicon glyphicon-camera" ></span></a>

<div id="picture-expanded-view" class="expanded-view clearfix" style="display: none">
  <div id="current-picture-view" class="nav-option-view"></div>
  <input type="filepicker-dragdrop"
    data-fp-apikey="A7gH4KbCKQiiktGxCNqlOz"
    data-fp-mimetypes="image/*"
    data-fp-container="modal"
    data-fp-services="COMPUTER,WEBCAM"
    onchange="alert(event.fpfile.url)"
    class="form-control">
</div>
