<textarea
  id="new-post-body"
  name="post[body]"
  ></textarea>
<input type="text" id="form-date-picker" value='<%= defaultDate %>'>
<input type="hidden" id="form-date-actual-date" name="post[post_date]">
<button
  id="new-post-button"
  class="submit">Done</button>
