<textarea
  id="new-post-body"
  name="post[body]"
  ><%= post.escape("body") %></textarea>
<input
  type="text"
  id="form-date-picker">
<input
  type="hidden"
  id="form-date-actual-date"
  name="post[post_date]">
<button
  id="new-post-button"
  class="submit">Done</button>
