<div class="post-min-content"><%= text %></div>

<div class="post-min-tags">
  <ul>
    <% post.tags().each(function(tag){ %>
    <li class="tag-name"><%= tag.escape('name') %></li>
    <% }); %>
  </ul>
</div>
