<div class="post-min-content"><%= text %></div>

<div class="post-tags">
  <ul>
    <% post.tags().each(function(tag){ %>
    <li class="tag-name" data-id="<%= tag.get('id') %>"><%= tag.escape('name') %></li>
    <% }); %>
  </ul>
  <a href="javascript:void(0)"><%= post.location().escape("address") %><a>
</div>
