<button type="button" class="btn btn-danger navbar-btn navbar-right" id="logout-btn">Logout</button>
<p class="navbar-text navbar-right"><%= StrickLife.currentUser.email %></p>
<p class="navbar-text" navbar-left" id="context-nav-el"></p>
<div id="context-area" class="navbar-right"></div>
