<!-- <a
  href="javascript:void(0)"
  type="button"
  class="btn btn-primary"
  id="map-selection-icon">
<span class="glyphicon glyphicon-map-marker" ></span>
</button> -->


<div id="map-expanded-view">
  <input type="text" id="map-search-box" class="form-control">
  <div id="selection_gmap"></div>
</div>
