<a
  class="navbar-text"
  href="javascript:void(0)"
  type="button"
  id="map-selection-icon"
  ><span class="glyphicon glyphicon-map-marker" ></span></a>

<div id="location-expanded-view" class="expanded-view clearfix" style="display: none">
  <div id="current-location-view"></div>
  <input type="text" id="map-search-box" class="form-control">
</div>
