<a
  class="navbar-text"
  href="javascript:void(0)"
  type="button"
  id="date-selection-icon"
  ><span class="glyphicon glyphicon-calendar" ></span></a>

<div id="date-expanded-view" class="expanded-view" style="display: none">
  <div id="current-date-view"></div>
  <input
    type="text"
    id="nav-date-picker"
    class="form-control"
    placeholder="<%= defaultDate %>">
  <input
    type="hidden"
    id="nav-date-actual-date"
    value="<%= actualDefaultDate %>">
</div>
