/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
/* #MARKDOWN */
/* @import 'base/epiceditor';
@import 'preview/bartik';
@import 'preview/github';
@import 'preview/preview-dark';
@import 'editor/epic-dark';
@import 'editor/epic-light'; */

html, body{
  height: 100%;
  font-family: courier;
}

#main {
  height: 100%;
  left: 100px;
  padding-top: 50px;

}


#post-area {
  width: 60%;
}

/* INDEX */

.month-header {
  font-size: 24px;
  text-decoration: bold;
  display: block;
  background-color: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-left: 5px;
  z-index: 100;
  color: #428bca;
}

.day-views {
  background-color: #F4F9FF;
}

.day-views.row{
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  padding-right: 50px;
}

.day-post-container {
  float: left;
  background-color: #F4F9FF;
  padding: 0px;
}

.day-post-container:hover {
  background-color: #F9FDFF;
}

.day-min-date {
  float: left;
  text-align: center;
  font-size: 32px;
}

.post-min {
  height: 60px;
  width: 100%;
  border-bottom: dotted 1px #EEE;
  position: relative;
  font-size: 18px;
}

.post-min:hover {
  text-decoration: bold;
  background-color: fuchsia;
}

.post-min-tags {
  font-size: 12px;
  bottom: 5px;
  line-height: 12px;
}
.post-min-tags ul{
  padding: 0px;
}

.post-min-tags li {
  display: inline;
  list-style-type: none;
  color: white;
  background-color: #428bca;
  border-radius: 5px;
  padding: 2px 3px;
  margin-right: 3px;
  float:left;

}
.post-min-tags a {
  font-size: 12px;
  color: #428bca;
  float:left;
}

.post-min-tags li:hover {
  background-color: blue;
  cursor: pointer;

}

.post-full{
  border-bottom: solid 1px #DDD;
}


/*Full Day View */
.post-options{
  display: inline;
  list-style-type: none;
  float: right;
}

/*MAP*/

.map-container{
  height: 100%;
}

#gmap {
  width: 100%;
  height: 100%;
  position: fixed;
}

#map-info-window{
  width: 250px;
  height: 350px;
}

#map-info-window div {
  background-color: #FFF;
}

#map-info-window .month-header {
  display: none;
}

#map-info-window .day-views.row{
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

#map-info-window .day-post-container:hover {
  background-color: #F9FDFF;
}

#map-info-window .day-min-date {
  display: none;
}

#map-info-window .post-min {
  height: 30px;
  font-size: 14;
  border-bottom: solid 1px #CCC;
}

#map-info-window .post-min-tags {
  position: absolute;
  bottom: 0px;
  left: 5px
}

#map-info-window .post-min-tags li {
  display: inline;
  list-style-type: none;
  color: white;
  background-color: #428bca;
  border-radius: 5px;
  padding: 2px 3px;
  margin-right: 5px;
}


/* CALENDAR VIEW */
.clndr {
  background-color: #F9FDFF;
  font-size: 18px;
}

.clndr-controls {
  background-color: #FFF;
  color: #428bca;
  font-size: 24px;
  text-align: center;
  text-decoration: bold;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.day {
  height: 100px;
  vertical-align: top;
  border: solid 1px #EEE;
  border-radius: 10px;
  display: block;
}

.day:hover:not(.event):not(.today){
  background-color: #FFF;
}

.day.event {
  background-color: #428bca;
}

.day.today {
  background-color: red;
}

/* CALENDAR MODAL */

#modal-post-view {
  display:none;
  min-width: 300px;
  background-color: #FFF;
  position: absolute;
  z-index: 1000000;
  padding-left: 20px;
  border: solid 4px black;
  border-radius: 10px;
  font-size: 12px;
  .month-header, .day-min-date, .post-min-tags { display: none; }
  .post-min {
    background-color: #FFF;
    font-size: 12px;
    height: 20px;
  }

}







/* FORM */
.posts-form {
  height: 100%;
}

textarea {
  padding: 20px;
  box-sizing: border-box;
  border: solid 1px green;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

/*Context NavBar */

#context-area a {

}
#context-area a.selected {
  color: #428bca;
}

.nav-form-item{
  display:inline-block;
}

.nav-form-item #form-submit-button {
  background-color: #428bca;
  padding: 2px 10px;
  border-radius: 10px;
  color: white;
}

.nav-form-item #form-submit-button:hover {
  background-color: fuchsia;
  text-decoration: none;
}

.expanded-view {
  position: absolute;
  top: 100%;
  right: 20px;
  width: 450px;
  background-color: #eee;
  border: solid 1px #ddd;
  border-top: none;
  border-radius: 5px;
  border-bottom-right-radius: none;
}

.nav-option-view {
  min-height: 30px;
  color: #428bca;
}
.nav-option-view li {
  list-style: none;
}

.pac-container {
  z-index: 100000;
}




/*!
* Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
}

#wrapper.toggled {
  padding-left: 100px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 100px;
  top: 50px;
  width: 0;
  height: 100%;
  margin-left: -100px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
  font-size: 3em;
}

#sidebar-items {
  margin: 40px auto;
  display: block;
}
.sidebar-items {
  text-align: center;
  padding: 10px 0px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 100px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  top: 50px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -100px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 100px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 100px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Strick Additions to Start Bootsrap */
.col-xs-7 {
  width: 14.285714286%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-7 {
    width: 14.285714286%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-7 {
    width: 14.285714286%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-7 {
    width: 14.285714286%;
    float: left;
  }
}
