StrickLife.Views.MapView = Backbone.View.extend({
  initialize: function(options) {
    this.listenTo(this.collection, "sync", this.addMarkers)

  },

  className: "map-container",

  template: JST["maps/map"],

  render: function(){
    var content = this.template();
    this.$el.html(content);
    this.initMap();
    return this;
  },

  initMap: function() {
    var center = new google.maps.LatLng(37.508742,-122.120850)
    var mapProp = {
      center: center,
      zoom: 5,
      disableDefaultUI: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    this.lastCenter = center;

    this.map = new google.maps.Map(this.$('#gmap')[0], mapProp);
    google.maps.event.trigger(this.map, 'resize');

    this.infoWindow = new google.maps.InfoWindow({
      content: "<div id='map-info-window-address'></div><div id='map-info-window'></div>"
    });
  },

  addMarkers: function() {
    var markers = [];
    var mapView = this;

    _.each(this.collection.models, function(model){
      var latLng = new google.maps.LatLng(model.get("latitude"), model.get("longitude"))
      var marker = new google.maps.Marker({'position': latLng});

      markers.push(marker);
      google.maps.event.addListener(marker, 'click', function() {
        mapView.infoWindow.open(mapView.map, marker);
        var markerPosts = new StrickLife.Collections.Posts(model.get("posts"));

        var view = new StrickLife.Views.PostsIndex({
          collection: markerPosts
        });

        setTimeout(function(){
          $("#map-info-window-address").html(model.get("address"))
          $("#map-info-window").html(view.render().$el);
        }, 0)


      }.bind(model));
    });

    var clusterStyles = [{
      textColor: 'black',
      url: '<%= asset_path("mapcluster.png")  %>',
      height: 50,
      width: 50
    }];
    var markerCluster = new MarkerClusterer(this.map, markers, { styles: clusterStyles, maxZoom: 15 })

  },

});
