<a
  class="navbar-text"
  href="javascript:void(0)"
  type="button"
  id="tag-selection-icon"
  ><span class="glyphicon glyphicon-tags" ></span></a>

<div id="tags-expanded-view" class="expanded-view" style="display: none">
  <ul id="current-tags-view"></ul>
  <div id="tag-search-box"></div>
  <div id="tags_index"></div>
</div>
